services:
  backend:
    build: ./backend
    container_name: introconnect_backend
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        VITE_STREAM_API_KEY: ${VITE_STREAM_API_KEY}
    container_name: introconnect_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
