services:
  mongodb:
    image: mongo:6.0
    container_name: introconnect_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: introconnect_backend
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./frontend
      args:
        VITE_STREAM_API_KEY: ${VITE_STREAM_API_KEY}
    container_name: introconnect_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
